body{
	padding: 0px !important;
	margin: 0px !important;
}
li{
	list-style: none;
}
#header{
	height: 40px;
}
#context{
	height: 60%;
}
#footer{
	height: 20%;
}
#mensagem{
	background-color: #F74C4C;
}
#palpiteRodada{
	width: 68.1%;
	padding: 1%;
	float: left;
	border: 1px solid #eee;
	border-radius: 10px;
}
#palpiteRodada>div>form{
	margin: 0 auto;
}
.menuTopBar{
	background-color: #fff;
	top: 0px !important;
	margin: 0px !important;
	padding: 0px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	opacity: 0.90;
	width: 100%;
    top: 0;
	position: fixed;


}
.containerForm{
	width: 50%;
	margin: 0 auto;
}
.menuTopBar>a{
	font-size: 16pt;
	font-style: none;
	color: #BBBDB3;

}
#pontosTopBar{
    background: -webkit-linear-gradient(top,#F37A15,#FD7043);
	background: -o-linear-gradient(top,#F37A15,#FD7043);
	background: -moz-linear-gradient(top,#F37A15,#FD7043);
	background: linear-gradient(top,#F37A15,#FD7043);
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	
    width: 8%;
     top: 0;
     margin-left: 92%;
	position: fixed;
}

#banner{
	border: 1px solid;
	width: 50%;
	height: 20%;
	float: left;
}
#minRank{
	float: left;
	border: 1px solid red;
	border-radius: 25px 25px 0px 0px;
	margin-left: 2%;
	width: 24%;
}
#minRank>ul{

	padding: 0px;
}
#minRank>ul>li{
	background-color: red;
	margin-left: 0px !important;
	padding: 2%;
	border-bottom: 1px solid;
	font-family: arial;
	text-align: justify;

}
.shadown{
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.05);
}
#contentForm{
	width: 40%;
	margin: 0 auto;
}
#contentForm>form{
	width: 80%;
	margin: 0 auto;
}
input:not([disabled]):not([type="submit"]){
	border-radius: 3px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #aaa;
	width: 96%;
	padding: 1.5%;
}
input:not([disabled]):not([type="submit"]):focus{
	outline:none;
	border: 1px solid red;
}
label{
	color: #111;
	font-family: arial;
	font-size: 12pt;
	
}
input[type="submit"]{
	background: -webkit-linear-gradient(top,#5D8CFF,#176CFB);
	background: -o-linear-gradient(top,#5D8CFF,#176CFB);
	background: -moz-linear-gradient(top,#5D8CFF,#176CFB);
	background: linear-gradient(top,#5D8CFF,#176CFB);
	border: none;
	border-radius: 4px;
	width: 15%;
	padding: 2%;
	color: #eee;
	font-weight: bold;
	margin-left: 85%;
}

input[type="submit"]:hover{
	-webkit-animation: color 1s;
	animation: color 1s;
}
@-webkit-keyframes color{
0%   {background: -webkit-linear-gradient(top,#5D8CFF,#176CFB);}
25%  {background: -webkit-linear-gradient(top,#4174FA,#276CFB);}
50%  {background: -webkit-linear-gradient(top,#2174FA,#376CFB);}
100% {background: -webkit-linear-gradient(top,#1174FA,#576CFB);}
}

@keyframes color{
0%   {background: linear-gradient(top,#5D8CFF,#176CFB);}
25%  {background: linear-gradient(top,#4174FA,#276CFB);}
50%  {background: linear-gradient(top,#2174FA,#376CFB);}
100% {background: linear-gradient(top,#1174FA,#576CFB);}
}
#palpiteRodada>div>form{
	width: 60%;
	height: 60%;
	float: left;
	margin-left: 20%;
}
#palpiteRodada>div>form>input{
	width: 38%;
	height: 60px;
	font-size: 30pt;
}
#palpiteRodada>img{
	float: left;
	border: 1px solid green;
	width:200px;
	height: 100px;
	margin-top: 3%;
	margin-left:1%;
	margin-right: 1%; 
}
#palpiteRodada>div{
	float: left;

}
#palpiteRodada>div>form>span{
	font-size: 18pt;
}
#conteudoMensagem{

}
#palpiteRodada>nav{
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 40pt;
	border: 1px solid;
	border-radius: 50%;
	width: 6%;
	margin-top: 5%;
}
#palpiteRodada>div{
	float: left;
	
	text-align: center;
	line-height: 150px;
	width: 36%;
}
.errorlist>li{
	color: #F80B0B;
	margin-left: 70%;
}
#headerContext{
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
}
#header{
	padding-bottom: 1%;
}