body{
	padding: 0px !important;
	margin: 0px !important;
	background:#FFF;
	font-family: "Roboto Condensed",Arial,sans-serif;
	z-index: -9999;
	height: 100%;
}
html{
	height: 100%;
}
li{
	list-style: none;
}
#header{
	height: 12%;
}
#context{
	height: 150%;
}
#footer{
	height: 200px;
	background: #ffcd1a;
	border-top: 6px solid #F1C21A;
}
#mensagem{
	background-color: #000;
	color: #eee;
	padding: 1%;
	border: 1px solid #888;
}
#menuContext{
	display: none;
	z-index: 999999;
	width: 20%;
	position: fixed;
	background-color: #fff;
	margin-left: 3%;
	margin-top: 5.1%;
	border-radius: 4px;
}
.seta-cima {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	z-index: 9999;
	margin-top: -3%;
	margin-left: 5%;
}
#palpiteRodada{
	width: 67%;
	float: left;
	
	height: 100%;
}
#campeonatos{
	background-color: #F7C617;
	border:1px solid #F1C21A;
	border-radius: 4px;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
	height: 40px;
	color: #19815e;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;

}
#containerPalpiteRodada{
	border: 1px solid #eee;
	padding: 1%;
	background-color: #fff;
	height: 100%;
}
#palpiteRodada>div>form{
	margin: 0 auto;
}
#minRank>table{
	width: 100%;
	border: 1px solid #eee;
	border-collapse: collapse;
	background-color: #fff;
}
#minRank>table>tbody>tr>td{
	
	text-align: center;
	padding: 15px;
	font-size: 12pt;
	font-weight: bolder;
	border-bottom: 1px solid #eee;
	height: 35px;
}
.tituloPagina{
	width: 100%;
	font-size: 16pt;
	line-height: 30px;
	text-align: center;
	background-color: #19815e;
	-webkit-animation: sliderTitulo 1s normal;
	-o-animation: sliderTitulo 1s normal;
	animation: sliderTitulo 1s normal;
	color: #ffcd1a;
	margin-top: 0.2%;
	font-weight: bolder;
}

#menuOptions{
	width: 10%;
	float: left;
	height: 69%;
	margin-top: 20px;
	line-height: 100%;

}
#menuOptions>div{
	background-color: #05B57A;
	border-radius: 2px;
	width: 30%;
	height:20%;
	margin: 4px auto;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}
.menuTopBar{

	background-color: #ffcd1a;

	top: 0px !important;
	margin: 0px !important;
	padding: 0px;
	height: 10%;
	text-align: center;
	line-height: 80px;
	
	width: 100%;
    top: 0;
	position: fixed;
	border-bottom: 6px solid #F1C21A;


}
.menuTopBar>form{
	float: left;
	margin-left: 70%;
}
.menuTopBar>a{
	float: left;
	margin-left: 2%;
	margin-top: 1%;
	height: 50px;

}
.menuTopBar>a>img{
	width: 50px;
	height: 50px;
	margin-top: 1%;
}
.containerForm{
	width: 50%;
	margin: 0 auto;
}
.menuTopBar>a{
	font-size: 16pt;
	font-style: none;
	color: #BBBDB3;

}
#footer>div{
	line-height: 80px;
	color: #000;

}
#pontosTopBar{
    background-color: #ffcd1a;

	height: 80px;
	line-height: 80px;
	text-align: center;
	font-weight: bold;
    width: 8%;
     top: 0;
     margin-left: 92%;
	position: fixed;
	color: #19815e;
	font-size: 16pt;
}

#banner{
	border: 1px solid;
	width: 50%;
	height: 20%;
	float: left;
}
#minRank{
	float: left;
	margin-left: 2%;
	width: 30%;
}

.shadown{
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.09);
}
#contentForm{
	width: 40%;
	margin: 0 auto;
}
#contentForm>form{
	width: 80%;
	margin: 0 auto;
}
input:not([disabled]):not([type="submit"]){
	border-radius: 3px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #aaa;
	width: 96%;
	padding: 1.5%;
}
input:not([disabled]):not([type="submit"]):focus{
	outline:none;
	border: 1px solid red;
}
label{
	color: #111;
	font-family: arial;
	font-size: 12pt;
	
}
input[type="submit"]{
	background: -webkit-linear-gradient(top,#5D8CFF,#176CFB);
	background: -o-linear-gradient(top,#5D8CFF,#176CFB);
	background: -moz-linear-gradient(top,#5D8CFF,#176CFB);
	background: linear-gradient(top,#5D8CFF,#176CFB);
	border: none;
	border-radius: 4px;
	width: 15%;
	padding: 2%;
	color: #eee;
	font-weight: bold;
	margin-left: 85%;
}

input[type="submit"]:hover{
	-webkit-animation: color 1s;
	animation: color 1s;
}
@-webkit-keyframes color{
0%   {background: -webkit-linear-gradient(top,#5D8CFF,#176CFB);}
25%  {background: -webkit-linear-gradient(top,#4174FA,#276CFB);}
50%  {background: -webkit-linear-gradient(top,#2174FA,#376CFB);}
100% {background: -webkit-linear-gradient(top,#1174FA,#576CFB);}
}

@keyframes color{
0%   {background: linear-gradient(top,#5D8CFF,#176CFB);}
25%  {background: linear-gradient(top,#4174FA,#276CFB);}
50%  {background: linear-gradient(top,#2174FA,#376CFB);}
100% {background: linear-gradient(top,#1174FA,#576CFB);}
}
.formPalpiteRodada>form{
	height: 10%;
	float: left;
	width: 38%;
	margin-top: 4%;
}
#porcentagem{
	width: 100% !important;
	margin: 0 !important;
	border: 1px solid;

}
.formPalpiteRodada>form>input:not([type="submit"]){
	width: 38%;
	height: 60px;
	font-size: 30pt;
}
.containerPalpites{
	height: 240px;
}
.containerPalpites > .formPalpiteRodada{
	width: 45% !important;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.formPalpiteRodada>form>input[type="submit"]{
	margin-top: 20px;
	margin-left: 2%;
	width: 100px;
	
}
.formPalpiteRodada>.imgPalpite{
	float: left;
	width: 31%;
	margin-top: 3%; 
}
.formPalpiteRodada>.imgPalpite>img{
	width: 100%;
}
.formPalpiteRodada>form>span{
	font-size: 18pt;
}
#conteudoMensagem{
	width: 90%;
}
#fecharMensagem{
	width: 10%;
	margin-left: 92%;
	text-align: center
}
#estatisticasRapidasTimeA{
	width: 27% !important;
	margin-left: 9%;
	margin-top: -28px !important;
}
#estatisticasRapidasTimeB{
	float: right !important;
	margin-top: -23px !important;
	margin-right: 8%;
}
.formPalpiteRodada{
	margin-top: 4%;
	text-align: center;
	width: 80%;
	height: 42%;
	margin: 0 auto;


}
.titulo{
	font-size: 20pt;
	border-radius: 4px 4px 0px 0px;
	font-weight: normal !important;
	background: -webkit-linear-gradient(top,#5D8CFF,#176CFB);
	padding: 0px;
	margin: 0px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
.errorlist>li{
	color: #F80B0B;
	margin-left: 70%;
}
#estatisticasRapidasTimeA>p{
	width: 60%;
	font-size: 12pt;
	font-weight: bold;
}
#estatisticasRapidasTimeB>p{
	width: 90%;
	font-size: 12pt;
	font-weight: bold;
}
.vitoriaPorcentagem{
	color: #17C323;
}
.empatePorcentagem{
	color: #FEBF18;
}
.derrotaPorcentagem{
	color: #F80000;
}

#menuLeftBar{
	margin-left: -8%;
	width: 8%;
	float: left;
	height: 300px;
	overflow-y: auto;
}
#menuLeftBar>ul{
	margin-left: 0px;
	padding: 0px;
}
#menuLeftBar>ul>:nth-child(1){
	background-color: #EEB319;
	

}
#menuLeftBar>ul>:nth-child(2){
	background-color: #2FA8E4;
	
}
#menuLeftBar>ul>:nth-child(3){
	background-color: #EE4646;
	
}
#menuLeftBar>ul>li{
	padding-top: 6%;
	padding-bottom: 6%;
	width: 40%;
	overflow: hidden;

}
#menuLeftBar>ul>li>nav{
	height: 31px;
	margin-left: 2px;
}
#menuLeftBar>ul>li>nav>a{
	line-height: 31px;
	color: #000;
	margin-top: -10px;
}

#contextCenter{
	width: 88%;
	/* min-height: 600px; */
	margin: 0 auto;
	height: 100%;
}
#headerContext{
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	height: 44%;
}
#header{
	padding-bottom: 0.5%;
}
#footerContext{
	height: 44%;
	margin-top: 6%;

}
.view-content{
	width: 500px;
}
#novidades{
	float: left;
	width: 25%;
	margin-left: 4%;
}
#novidades>div{
	background-color: #FFF;
}
#estatistica{
	float: left;
	width: 95%;
	margin-left: 2%;
}
table>thead>tr>th{
	background: -webkit-linear-gradient(bottom,#DDD,#FFF);
	background: -o-linear-gradient(bottom,#DDD,#FFF);
	background: -moz-linear-gradient(bottom,#DDD,#FFF);
	background: linear-gradient(bottom,#DDD,#FFF);
	
}
#estatistica>table{
	width: 100%;
	background-color: #FFF;
	border-collapse: collapse;
}
#estatistica>table>tbody>tr>td{
	text-align: center;
	padding: 3%;
}
.muda-grupo{
	background-color: #fff;
	width: 100%;
	border-bottom: 1px solid #EEE;
	text-align: center;
	font-size: 20pt;
}
.muda-grupo>span{
	margin-left: 39%;
	margin-right: 39%;
}
.transitionLeftToRight {
  -webkit-animation: leftToRight 0.2s linear normal;
  -moz-animation: leftToRight 0.2s linear normal;
  -ms-animation: leftToRight 0.2s linear normal;
  -o-animation: leftToRight 0.2s linear normal;
  animation: leftToRight 0.2s linear normal;
}

@-webkit-keyframes leftToRight {
	from { margin-left: -10% }
	to { margin-left: 0% }
}
@-o-keyframes leftToRight {
	from { margin-left: -10% }
	to { margin-left: 0% }
}
@-moz-keyframes leftToRight {
	from { margin-left: -10% }
	to { margin-left: 0% }
}
@keyframes leftToRight {
	from { margin-left: -10% }
	to { margin-left: 0% }
}

.transitionRightToLeft {
  -webkit-animation: leftToRight 0.2s linear normal;
  -moz-animation: leftToRight 0.2s linear normal;
  -ms-animation: leftToRight 0.2s linear normal;
  -o-animation: leftToRight 0.2s linear normal;
  animation: leftToRight 0.2s linear normal;
}

@-webkit-keyframes transitionRightToLeft {
	from { margin-left: 0% }
	to { margin-left: -10% }
}
@-o-keyframes transitionRightToLeft {
	from { margin-left: 0% }
	to { margin-left: -10% }
}
@-moz-keyframes transitionRightToLeft {
	from { margin-left: 0% }
	to { margin-left: -10% }
}
@keyframes transitionRightToLeft {
	from { margin-left: 0% }
	to { margin-left: -10% }
}

.barraMenuLeft:hover{
	-webkit-animation: abrirMenu 0.2s linear normal;
	-moz-animation: abrirMenu 0.2s linear normal;
	-ms-animation: abrirMenu 0.2s linear normal;
	-o-animation: abrirMenu 0.2s linear normal;
	animation: abrirMenu 0.2s linear normal;
}
@-webkit-keyframes abrirMenu {
	from {  width: 40%}
	to { width: 100% }
}
@-o-keyframes abrirMenu {
	from {  width: 40%}
	to { width: 100% }
}
@-moz-keyframes abrirMenu {
	from {  width: 40%}
	to { width: 100% }
}
@keyframes abrirMenu {
	from {  width: 40%}
	to { width: 100% }
}
#ranking{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	background-color: #FFF;

}

#ranking>tbody>tr>td{
	text-align: center;
	padding: 1%;
}
@-webkit-keyframes sliderTitulo {
	from { width: 0% }
	to { width: 100% }
}
@-o-keyframes  sliderTitulo {
	from { width: 0% }
	to { width: 100% }
}
@-moz-keyframes  sliderTitulo {
	from { width: -0% }
	to { width: 100% }
}
@keyframes  sliderTitulo {
	from { width: 0% }
	to { width: 100% }
}

@-webkit-keyframes sliderRankig {
	from { margin-left: -100% }
	to { margin-left: 0% }
}
@-o-keyframes sliderRankig {
	from { margin-left: -100% }
	to { margin-left: 0% }
}
@-moz-keyframes sliderRankig {
	from { margin-left: -100% }
	to { margin-left: 0% }
}
@keyframes sliderRankig {
	from { margin-left: -100% }
	to { margin-left: 0% }
}
.pagination{
	height: 10px;
	width: 90%;
	margin: 0 auto;
}
.pagination>nav{
	border: 1px solid #DDD;
	width: 2%;
	float: left;
	margin-left: 1%;
	text-align: center;
	background-color: #FFF;
}
.bandeiraEstatistica{
	width: 30%;
}