{% load staticfiles %}
<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="layout" content="main">
	<title>O Palpiteiro</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    {% block style %}
            
    {%endblock%}

</head>
<body>
	<header id="header">
		<div class="menuTopBar shadown" >
            <div id="menuOptions">
                <div></div>
                <div></div>
                <div></div>
            </div>
            {% if user.is_authenticated %}
            <form>
               
                <select id="campeonatos" name="campeonato">
                        <option value="-1">Campeonatos</option>
                        <option value="1">aaaa</option>
                        <option value="2">ssss</option>
                        <option value="3">ssss</option>
                        <option value="4">ssss</option>
                        <option value="5">ssss</option>
                        <option value="6">ssss</option>
                        <option value="7">ssss</option>
                        <option value="8">ssss</option>
                        <option value="9">ssss</option>
                        <option value="10">ssss</option>    
                </select>
            </form>
            
            <div id="pontosTopBar">
                20Pts
            </div>
            {% endif %}
		</div>

        
	</header>
    <div class="tituloPagina shadown">
        {% block tituloPagina %}
            
        {%endblock%}
        </div>
    <div id="context">
        
    	<!--<div id="menuLeftBar">
            <ul>
                <li class="barraMenuLeft">
                    <nav >
                        <a href="#">
                            <img src="{% static "img/Actions-view-list-text-icon.png" %}" alt="">
                            Ranking
                        </a>
                    </nav>
                </li>
                <li class="barraMenuLeft">
                    <nav >
                        <img src="{% static "img/statics.png" %}" alt="">
                        <a href="#">Estatistica</a>
                    </nav>
                </li>
                <li class="barraMenuLeft">
                    <nav >
                        <img src="{% static "img/add-palpite.png" %}" alt="">
                        <a href="#">Palpites</a>
                    </nav>
                </li class="barraMenuLeft">
            </ul>
        </div>-->
        <div id="menuContext" class="shadown">
            
            <ul>
                <li>Home</li>
                <li><a href="/ranking">Ranking</a></li>
                <li>Palpites</li>
                <li>X</li>
            </ul>
            
        </div>
    	<div id="contextCenter">
            {% block conteudo %}
            
            {%endblock%}
        </div>
	</div>
	<footer id="footer" class="shadown">
        <div align="center"><p>Desenvolvido por:<br>Lazáro Menezes & Paulo Calanca</p></div>
		
	</footer>
</body>
</html>