{% load staticfiles %}
<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>O Palpiteiro</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
	<header id="header">
		<div class="menuTopBar shadown" align="center">
            <div id="pontosTopBar">
                20Pts
            </div>
		</div>
	</header>
	
	<div id="context">
        {% block conteudo %}
        
        {%endblock%}
    </div>
	
	<footer id="foter">
		
	</footer>
</body>
</html>