{% extends "base.html" %}
{% load staticfiles %}

{% block conteudo %}
{% if mensagem %}
<div id="mensagem">
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, a, hic, ex nulla consectetur unde mollitia repudiandae amet ratione veritatis adipisci nobis sequi beatae nisi praesentium dicta voluptatem laudantium est.</span>
</div>
{% endif %}

<div id="headerContext">
           
            <div id="palpiteRodada" align="center">
                <h3 class="titulo" >Palpites da rodada</h3>
                
                <div class="shadown" id="containerPalpiteRodada" align="center">
                    <div class="muda-grupo">
                      <a> < </a>
                      <span> Grupo X </span>
                      <a> > </a>
                    </div>
                    <p>Rodada X</p>              
                    <div align="center" class="formPalpiteRodada">
                        <div class="imgPalpite">
                          <p>Brasil</p>
                        <img src="{{MEDIA_URL}}bandeiraBrasil.png">
                        </div>
                        <form>
                          <span>Horario: XX:XX</span>
                            <input type="text" required>
                            <span>X</span>
                            <input type="text" required>
                            <input type="submit" value="Palpitar">
                        </form>
                        <div class="imgPalpite">
                          <p>Alemanha</p>
                        <img src="{{MEDIA_URL}}alemanha.png">
                        </div>
                    </div>
                    <div align="center" class="formPalpiteRodada">
                        <div class="imgPalpite">
                          <p>Brasil</p>
                        <img src="{{MEDIA_URL}}bandeiraBrasil.png">
                        </div>
                        <form>
                          <span>Horario: XX:XX</span>
                            <input type="text" required>
                            <span>X</span>
                            <input type="text" required>
                            <input type="submit" value="Palpitar">
                        </form>
                        <div class="imgPalpite">
                          <p>Alemanha</p>
                        <img src="{{MEDIA_URL}}alemanha.png">
                        </div>
                    </div>
                </div>
                
            </div>

            <div id="minRank" >
                   <h3 class="titulo" >Ranking</h3>
                   <table class="shadown">

                       <tbody>
                           <tr>
                               <td><img src="{% static "img/boladourada.png" %}"></td>
                               <td>JOão</td>
                               <td>10pts</td>
                           </tr>
                           <tr>
                               <td><img src="{% static "img/bolaprata.png" %}"></td>
                               <td>JOão</td>
                               <td>10pts</td>
                           </tr>
                           <tr>
                                <td><img src="{% static "img/bolabronze.png" %}"></td>
                               <td>JOão</td>
                               <td>10pts</td>
                           </tr>
                           <tr>
                               <td>4</td>
                               <td>JOão</td>
                               <td>10pts</td>
                           </tr>
                           <tr>
                               <td>5</td>
                               <td>JOão</td>
                               <td>10pts</td>
                           </tr>
                           <tr>
                               <td>6</td>
                               <td>JOão</td>
                               <td>10pts</td>
                           </tr>
                           <tr>
                               <td>7</td>
                               <td>JOão</td>
                               <td>10pts</td>
                           </tr>
                       </tbody>
                   </table>
               
            </div>
           
</div>
 <div id="footerContext">
                <div id="estatistica">
                    <h3 class="titulo" >Estatisticas</h3>
                    <div class="shadown muda-grupo">
                      <a> < </a>
                      <span> Grupo X </span>
                      <a> > </a>
                    </div>
                    <table class="shadown">
                        <thead>
                            <tr>
                                <th>Posição</th>
                                <th>Bandeira</th>
                                <th>Nome</th>
                                <th>Pts</th>
                                <th>V</th>
                                <th>E</th>
                                <th>D</th>
                                <th>GP</th>
                                <th>GC</th>
                                <th>SG</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><img src="{{MEDIA_URL}}bandeiraBrasil.png" class="bandeiraEstatistica"></td>
                                <td>Brasil</td>
                                <td>3</td>
                                <td>4</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><img src="{{MEDIA_URL}}bandeiraBrasil.png" class="bandeiraEstatistica"></td>
                                <td>Brasil</td>
                                <td>3</td>
                                <td>4</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><img src="{{MEDIA_URL}}bandeiraBrasil.png" class="bandeiraEstatistica"></td>
                                <td>Brasil</td>
                                <td>3</td>
                                <td>4</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><img src="{{MEDIA_URL}}bandeiraBrasil.png" class="bandeiraEstatistica"></td>
                                <td>Brasil</td>
                                <td>3</td>
                                <td>4</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div id="novidades">
                  <h3 class="titulo" >Novidades da Copa</h3>
                  <div class="shadown">
                      
                   </div>
                </div>-->
</div>
{% endblock %}
