
{% extends "base.html" %}

{% block conteudo %}
<div id="mensagem">
    <div id="conteudoMensagem"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, a, hic, ex nulla consectetur unde mollitia repudiandae amet ratione veritatis adipisci nobis sequi beatae nisi praesentium dicta voluptatem laudantium est.</div>
</div>
<div id="headerContext">
            <div id="palpiteRodada" class="shadown">
                <nav><</nav>
                <img src="">
                <div align="center">
                    <form>
                    
                    <input type="text" required>
                    <span>X</span>
                    <input type="text" required>
                    

                    </form>
                </div>
                <img src="">
                <nav>></nav>
            </div>
            <div id="minRank" class="shadown">
                <ul>
                    <li> 1 - João  20pt </li>
                    <li> 2 - Pedro 30pt </li>
                    <li> 3 - Joaquim 40 pt </li>
                </ul>
            </div>
</div>
{% endblock %}
