
{% extends "base.html" %}

{% block conteudo %}
{% if mensagem %}
<div id="mensagem">
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, a, hic, ex nulla consectetur unde mollitia repudiandae amet ratione veritatis adipisci nobis sequi beatae nisi praesentium dicta voluptatem laudantium est.</span>
</div>
{% endif %}
<div id="headerContext">

            <div id="palpiteRodada" class="shadown" align="center">
                <p>Rodada X</p>
                <button><</button>
                <img src="">
                <div align="center">
                    <form>
                        <input type="text" required>
                        <span>X</span>
                        <input type="text" required>
                    </form>
                </div>
                <img src="">
                <button>></button>
            </div>
            <div id="minRank" class="shadown">
                <table>
                    <thead>
                        <tr>
                           <th>Posição</th>
                           <th>Nome</th>
                           <th>Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>João</td>
                            <td>20pts</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</div>
{% endblock %}
