{% extends "base.html" %}
{% load staticfiles %}
{% block tituloPagina %}
    Ranking          
  {%endblock%}
{% block conteudo %}
  
  <br>
  <h3 class="titulo" >Ranking Geral</h3>
  <table id="ranking" class="shadown">
    <thead>
      <tr>
        <th>Posição</th>
        <th>Rendimento</th>
        <th>Nome</th>
        <th>Pontos</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>1</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>2</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>3</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>4</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>5</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>6</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>7</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>8</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>9</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>
        <tr>
          <td>10</td>
          <td>+2</td>
          <td>João</td>
          <td>10pts</td>
        </tr>

    </tbody>
  </table>
  <br>
  <div class="pagination">
    <nav>1</nav>
    <nav>2</nav>
    <nav>3</nav>
    <nav>4</nav>
    <nav>5</nav>
  </div>
{% endblock %}
